*{
	padding: 0;
	margin: 0;
}
/* fxlist */


/* 主体 */
#list12
{
	margin:0;
	padding:0;
}
#listBody .am-thumbnail{
	border: 0;
}
#thumbR{
	margin-left:5px;
}
#listBody p{
	font-size: 12px;
}
/* 工具栏 */
#listF
{
	min-height: 40px;
}
#listF a
{
	color: white;
}
/* fxcontent */

/* me */
#me
{
	background-color: #f0f0f2;
}
#user{
			background-color: #e3e3e3;
		}
#mePanel img
{
	height:100px;
}
#mePanel .am-panel a{
	color:black;
	font-size: 15px;
	padding-left:20px;
	text-align: center;
}
#mePanel .am-panel a:active{
	color: blue;
}
#meFirst p
{
	margin-top:4%;
}
#mePanel i
{
	margin-right:10px;
}
#mePanel small
{
	float:right;
	margin-right:10%;
	color:#838484;
	margin-top:2%
}
/* myHeart */
.am-list
{
	margin-top: 0;
}

.am-list .am-thumbnail
{
	margin: 0;
}
.am-list h3
{
	margin: 0;
	padding-bottom: 1%;
}
.am-list small
{
	font-size: 12px;
	color: #838484;
}

/* heartContent */
article .am-btn
{
	border: 1px solid #00bcd4;
	background-color: white;
	color: #00bcd4;
	font-size: 13px;
}
/* mySave */
.am-tab-panel .am-thumbnail
{
	margin:0;
}
.am-tab-panel .am-u-sm-5{
	padding: 0;
}
/* myYHQ */
#mYHQ .am-thumbnail {
	margin:0;
}
#mYHQ .am-panel{
	margin: 0;
}
#mYHQ h1{
	color: white;
}
#mYHQ button small{
	color: white;
}
#mYHQ .am-u-sm-5 h3
{
	color:black;
	margin-bottom:0px;
	font-size:15px;
}
#mYHQ .am-u-sm-3 button
{
	width:100%;
	background-color:#00bcd4;
}
#mYHQ .am-u-sm-3
{
	padding: 0;
}
