		#con-list p{
			font-size: 14px;
		}
		.am-btn{
			display: block;
			background-color:#00bcd4; 
			background:no-repeat;
		}
		.am-topbar{
			background-color:#00bcd4; 
		}
		.am-u-sm-2{
			padding-left:0px;
		}
		.am-u-sm-2 a{
			background-color:#00bcd4;
			background-size:cover;
		}
		#am-btn_i{
			color:white;
		}
		.am-u-sm-3 a{
			background-color:#00bcd4;
			background-size:cover;
		}
		.am-u-sm-3 i{
			color:white;
		}
		#g1{
			max-height:25%
		}
		#am-u-sm-6_1{
			height:100%;
			padding-left: 1px;
		}
		#img1{
			width:111%;
			height: 120%;
		}
		#am-u-sm-6_2{
			height:100%;
		}
		#g2{
			margin-left:1%;
		}
		#am-u-sm-6_3{
			padding-left:0;		
		}
		#img2{
			width:110%;
		}
		#img3{
			width:110%;
			padding-top:4px;
		}
		#am-list-a{
			color:black;
			padding-top:0;
		}
		#img4{
			width:auto;
			height:auto;
			max-width:100%;
			max-height:100%;		
		}
		#am-u-sm-8_1{
			padding-left:0;
			padding-right:0;
		}
		#am-u-sm-8_1 p{
			color: #7B7B7B;
			font-size:14px;
		}
		#am-u-sm-4_1{
			margin-top:15px;
			text-align:center;
		}
		#am-u-sm-4_1 a{
			 color:#ff5151
		}
		#g3{
			text-align:left;
		}
		#badge1{
			color:white;
		}
		#g4{
			margin-top:10px;
		}
		#am-u-sm-4_2{
			text-align:center;
		}
		#am-u-sm-3_1{
			padding-left:0;
			padding-right:0;
		}
		#am-u-sm-9_1{
			padding-left:0;
			padding-right:0;
		}
		#progress_1{
			margin-bottom:0;
		}
		




















		



































