<layout name="layout_life"/>
	<!-- 轮播图 -->
    <div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
	  <ul class="am-slides">
	    <volist name="sliders" id="v" offset="0" length='4' empty="抱歉，暂时没有图片。">
	    <li><img src="__PUBLIC__/home/images/{$v.sldimage}" /></li>
	   </volist>
	  </ul>
	</div>
	<!-- 活动 -->
	<div class="am-g" id="active">
		<div class="am-u-sm-6" id="active1">
			<img src="__PUBLIC__/home/images/{$activity[0]['actimage']}">
		</div>
		<div class="am-u-sm-6" id="active4">
			<div class="am-g">
				<div class="am-u-sm-6" id="active2">
					<img src="__PUBLIC__/home/images/{$activity[1]['actimage']}">
				</div>
				<div class="am-u-sm-6" id="active3">
					<img src="__PUBLIC__/home/images/{$activity[2]['actimage']}" id="active3_img1">
					<img src="__PUBLIC__/home/images/{$activity[3]['actimage']}" id="active3_img2">
				</div>
			</div>
		</div>
	</div>
	<!-- 列表 -->
	<ul class="am-list" id="list">
	<volist name="sellertab" id="v" offset="0" length='3' empty="抱歉，暂时没有图书信息。">
	 <a href="__MODULE__/Life/store/id/{$v.sid}" target="_blank">
	 	<li>
		  <div class="am-g">
		    <div class="am-u-sm-4" id="list1"><img src="__PUBLIC__/home/images/{$v.simage}">
		    </div>
		    <div class="am-u-sm-8">
		    	<div class="am-g">
		    		<div class="am-u-sm-8" id="list2">
		    			<p id="list2_p1">{$v.shopname}<small class="am-serif">{$v.author}</small></p>
						<p id="list2_p2"class="am-sans-serif" >简介：{$v.introduce|msubstr=0,30}</p>
						<p id="list2_p3">评分：{$v.slevel}</p>
		    		</div>
		    		<div class="am-u-sm-4" id="list3">
		    			<a class="am-icon-pencil-square am-icon-lg" data-am-collapse="{parent: '#accordion', target: '#{$v.sid}'}"></a>
		    		</div>
		    	</div>
		    </div>
		</div> 
		<div id="{$v.sid}" class="am-panel-collapse am-collapse">
		  <div class="am-panel-bd">
		  	<volist name="chips" id="v" offset="0" length='' empty="抱歉，暂时没有可选标签。">
				<a class="clickme" data="{$v.id}" href="javascript:void(0);"><div style="" class="am-badge am-round am-badge-secondary am-text-sm" id="badge">{$v.chipname} <span>{$v.clickcount}</span></div></a>	  	
			</volist>
			<div class="clear"></div>
		  	<volist name="progress" id="v" offset="0" length='2' empty="抱歉，暂时没有可选标签。">
		  	<div class="am-g" id="panel">
		  		<div class="am-u-sm-3">{$v.chipname}</div>
		  		<div class="am-u-sm-9">
		  			<div class="am-progress">
					  <div class="am-progress-bar am-progress-bar-warning" style="width: {$v.malewidth}%">{$v.malewidth}%</div>
					  <div class="am-progress-bar am-progress-bar-success" style="width: {$v.femalewidth}%">{$v.femalewidth}%</div>
					</div>
		  		</div>
		  	</div>
		  	</volist>
		  	
		  </div>
	    </div>
       </li>
	 </a>
	 </volist>
	 <input id="ids" type="hidden" value="{$user[busername]}">
	</ul>
<script>
	function isLogin() {
	var name=$document.getElementById('ids').value;
	if (name==null) {
		return false;
	}
	return true;
 	}
</script>
<script>
	$(".clickme").on('click',function(){
        var Oa=$(this);
        var id=Oa.attr('data');//获取id属性
        var vl=Oa.find("span").text();
            vl=parseInt(vl)+1;
        $.post('__CONTROLLER__/set_hits',{data:id},function(data){
            if(data.status==1){ 
                alert('感谢您的选择！');
                Oa.find("span").text(vl);//页面元素加1
            }else{
                //alert('');
            }
        },'json'); 
    })
</script>