<!DOCTYPE html>
<html lang="en">
<head>
	<title>搭配-盖璞</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/home/css/amazeui.css"/>
	<link rel="stylesheet" href="__PUBLIC__/home/css/life_store.css"/>
    <script src="__PUBLIC__/home/js/jquery.min.js"></script>
    <script src="__PUBLIC__/home/js/amazeui.min.js"></script>
    <style type="text/css">

    </style>
</head>
<body>
	<div>

	</div>
	<header class="am-topbar">
		<div class="am-g" >
		<h1 class="am-topbar-brand">
			<img src="__PUBLIC__/home/images/bstore_banner_1.jpg" />
			<a href="life_beauty.html" class="am-btn am-btn-lg" rel="am-back">
				<i class="am-icon-chevron-left"  id="chevron-left"></i>
			</a>
		</h1>
		</div>
	</header>
	<article class="am-comment" id="my-scrollspy">
			<div class="am-comment-bd">
			<div class="am-g" id="center">
				<div class="am-u-sm-2">
					<a href="#">
						<img src="__PUBLIC__/home/images/bstore_head_2.png" alt="头像" height="52px" width="52px" class="am-round" />
					</a>
				</div>
				<div class="am-u-sm-10">
					<div class="am-comment-meta">
						<div class="am-g" id=
						"meta">
							<div class="am-u-sm-10">
								<a href="#link-to-user" class="am-comment-author" id="author">盖璞儿童&nbspGAP Children<i class="am-icon-envira" id="leaf"></i></a>
							</div>
							<!--
							<div class="am-u-sm-4">
								<a href="#" class="am-btn am-btn-sm am-btn-success"style="color:white;"><i class="am-icon-envira"></i>&nbsp收藏</a>
							</div>
							-->
						</div>	
					</div> 
					<hr></hr>
				</div>

			</div>
			</div>
		</article>
     	<article class="am-article">
            <div class="am-article-bd" id="article">
              <blockquote>
			  <p>让人们可以方便地找到一条真正合身的牛仔裤。</p>
			  <small>品牌创始人——Don&Doris Fisher</small>
			  </blockquote>
              <p class="am-article-lead" id="article_lead">
              1969年，盖璞 (Gap) 的创始人当·费雪 (Don Fisher) 正在美国加州的一家时装店里，挑选适合自己的牛仔裤，可是选来选去都找不到一条合适的。在这种动力的驱使下，当·费雪 (Don Fisher) 创造了这一美国历史性品牌——盖璞(Gap) 。盖璞“1969经典牛仔系列”(GAP 1969 Premium Jeans) 完美合身的设计也延伸到了GAP的儿童和婴儿服饰系列。2010年年初，GAP进一步推出了盖璞“1969经典牛仔系列”(GAP1969 Premium Jeans) 为GapKids设计的儿童款式。
              </p>
            </div>

            <div class="am-topbar am-topbar-fixed-bottom">
			<a href="#" class="am-btn am-btn-lg am-btn-block" id="bottom_btn"><i class="am-icon-cart-plus"></i>&nbsp&nbsp&nbsp去购物</a>
		</div>
        </article>
		
</body>
</html>