<!DOCTYPE html>
<html lang="en">
<head>
  <title>《碎评》-我的评论</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/home/css/amazeui.css"/>
    <script src="__PUBLIC__/home/js/jquery.min.js"></script>
    <script src="__PUBLIC__/home/js/amazeui.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/home/css/find.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/nav.css"/>
</head>
<body>
   <!-- 底部导航 -->
   <!-- <div class="am-topbar am-topbar-fixed-bottom" id="nav">
        <ul class="am-nav am-nav-pills am-nav-justify">
          <li><a href="index.html"><i class="am-icon am-icon-home am-icon-md"></i><br>首页</a></li>
          <li><a href="find_news.html"><i class="am-icon am-icon-comments-o am-icon-md"></i><br>消息</a></li>
          <li><a href="me.html"><i class="am-icon am-icon-github-alt am-icon-md"></i><br>我</a></li>
        </ul>
    </div> -->
  <!-- 顶部导航 -->
  <header class="am-topbar am-topbar-fixed-top">
    <div class="am-g">
      <div class="am-u-sm-2" id="sm2">
        <a href="{:U('Home/Account/me')}" class="am-btn am-btn-lg">
          <i class="am-icon-chevron-left" style="margin-top:3px;"></i>
        </a>
      </div>
      <div class="am-u-sm-8" id="sm8">
        <h3>
          我的评论
        </h3>
      </div>
      <div class="am-u-sm-2" id="sm2">
      </div>
    </div>
  </header>
  <!-- 切换标签 -->
  <div data-am-widget="tabs" class="am-tabs am-tabs-d2" id="con_tab">
      <ul class="am-tabs-nav am-cf">
          <li class="am-active"><a href="[data-tab-panel-0]">商品评价</a></li>
          <li class=""><a href="[data-tab-panel-1]">动态评论</a></li>
      </ul>
      <div class="am-tabs-bd">
        
          <div data-tab-panel-0 class="am-tab-panel am-active">
          <!-- 商品评价 -->
          <volist name="good" id="v">
            <div class="am-g" id="body">   
              <!-- <div class="am-u-sm-2" id="date">
                <h3>{$v.pcomment_time}</h3>
                
              </div> -->
              <div class="am-u-sm-12" id="content_list">
                <a href="{:U('Home/Delicious/storelist')}/id/{$v.susername}">
                <h4>商品名称：{$v[pname]}</h4>
                <p>评价内容：{$v[pcomment_content]}</p>
                <small>{$v.usertime}</small>
                </a>
              </div>  
            </div>
            </volist>
          </div>
         
      
        <!-- 动态评论 -->
        <div data-tab-panel-1 class="am-tab-panel ">
         <volist name="find" id="vl">
            <div class="am-g" id="body">   
              <!-- <div class="am-u-sm-2" id="date">
                <h3>{$v.pcomment_time}</h3>
                
              </div> -->
              <div class="am-u-sm-12" id="content_list">
               <!--  <a href="{:U('Home/Delicious/storelist')}/id/{$vl[susername]}"> -->
                <h4>标题名称：{$vl[title]} {$vl[susername]}</h4>
                <p>评价内容：{$vl[content]}</p>
                <small>{$vl.user_time}</small>
                <!-- </a> -->
              </div>  
            </div>
            </volist>
        </div>
      </div>
  </div>
</body>
</html>