<!DOCTYPE html>
<html lang="en">
<head>
	<title>发现内容</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/home/css/amazeui.css"/>
    <link rel="stylesheet" href="__PUBLIC__/home/css/find.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/bottom.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC/home/css/storelist.css">
    <script src="__PUBLIC__/home/js/jquery.min.js"></script>
    <script src="__PUBLIC__/home/js/amazeui.min.js"></script>
</head>
<body>
	<header class="am-topbar" id="hea">
		<div class="am-g" >
		<h1 class="am-topbar-brand">
			<span class="back"><a href="{:U('Home/Find/find_list_wish')}" class="am-icon-chevron-left am-icon-fw" id="href" ></a></span>
		</h1>
		</div>
	</header>
	<article class="am-comment" id="my-scrollspy">
			<div class="am-comment-bd">
			<div class="am-g">
				<div class="am-u-sm-2">
					<a href="#">
						<img src="__PUBLIC__/home/images/head_4.jpg" alt="头像" height="60px" width="60px" class="am-circle"/>
					</a>
				</div>
				<div class="am-u-sm-10">
					<div class="am-comment-meta">
						<div class="am-g" id="meta">
							<div class="am-u-sm-8">
								<a id="meta1" href="#link-to-user" class="am-comment-author">{$wishtab[busername]}</a>
							</div>
							<div class="am-u-sm-4">
								<a id="meta2" href="#" class="am-btn am-btn-sm"><strong>{$wishtab[wish_type]}</strong></a>			
							</div>
						</div>
						<div class="am-g">
							<p>发现于 <time datetime="2016-07-27T04:54:29-07:00">{$wishtab[wtime]}</time></p>
						</div>
					</div> 					 
				</div>
			</div>
			</div>
		</article>
     	<article class="am-article">
            <div class="am-article-bd">
              <p id="con_p" class="am-article-lead">
                {$wishtab[wish_content]}
              </p>
            </div>
        </article>
        <div class="am-topbar am-topbar-fixed-bottom" id="nav">
        <ul class="am-nav am-nav-pills am-nav-justify">
          <li rel="find_index.html"><a href="find_index.html"><i class="am-icon am-icon-diamond am-icon-md"></i><br>发现</a></li>
          <li rel="find_news.html"><a href="find_news.html"><i class="am-icon am-icon-comments-o am-icon-md"></i><br>消息</a></li>
          <li rel="{:U('Home/Account/me')}"><a href="{:U('Home/Account/me')}"><i class="am-icon am-icon-github-alt am-icon-md"></i><br>我</a></li>
        </ul>
        </div>
        <nav class="scrollspy-nav" data-am-scrollspynav="{offsetTop: 45}" data-am-sticky id="f_con_nav">
        <div id="input">
          <form action="{:U('Home/Find/wish')}/id/{$wishtab[wid]}" method="post" id="myform" name="myform" enctype="multipart/form-data">
           <input name="id" value="{$wishtab.wid}" type="hidden">
            <div class="am-g">
               <div class="am-u-sm-9">
                   <input type="text" class="am-form-field am-round" value="" placeholder="请输入..." name="content">
               </div>
               <div class="am-u-sm-3">
                  <input name="name" value="{$session['username']}" type="hidden">
                  <input class="am-btn am-round am-btn-default" type="submit" value="发送">
               </div>
             </div>
           </form>
        </div>
        </nav>
       <div id="comment">
    <ul class="am-comments-list am-comments-list-flip">
    <volist name="wishtab_comment" id='vl'>
       <li class="am-comment am-comment-highlight">
           <div class="am-comment">
            <a href="#link-to-user-home">
            <img src="__PUBLIC__/home/images/find_comment/1.jpg" alt="" class="am-comment-avatar" width="48" height="48"/>
            </a>
          <div class="am-comment-main">
           <header class="am-comment-hd">
           <!--<h3 class="am-comment-title">评论标题</h3>-->
            <div class="am-comment-meta">
              <a href="#link-to-user" class="am-comment-author">{$vl[busernames]}</a>
              评论于 <time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">{$vl[wctime]}</time>
            </div>
           </header>
           <div class="am-comment-bd">
              {$vl[content]}
           </div>
           <footer class="am-comment-footer">
               <div class="am-comment-actions">
                   <a data="{$vl.wcid}" href="javascript:void(0);" class="am-btn am-round good"><i class="am-icon-thumbs-up"><span class="am-badge am-round">{$vl[good_num]}</span></i></a>
                   <a data="{$vl.wcid}" href="javascript:void(0);" class="am-btn am-round bad"><i class="am-icon-thumbs-down"><span class="am-badge am-round">{$vl[bad_num]}</span></i></a>
                   <a class="am-btn am-round"><i class="am-icon-share"></i></a>
               </div>
           </footer>
          </div>
         </div>
       </li>
     </volist>
    </ul>
    </div>
</body>
</html>

<script>
  $(".good").on('click',function(){
        //if($("#ids").val()!=''){
        var Oa=$(this);
        var id=Oa.attr('data');//获取id属性
        var vl=Oa.find("span").text();
            vl=parseInt(vl)+1;
        $.post('__CONTROLLER__/zans_hits',{data:id},function(data){
          if(data.status==1){ 
                alert('感谢您的选择！');
                Oa.find("span").text(vl);//页面元素加1
            }else{
                alert('失败');
            }
        },'json'
            //alert(data);
       ); 
      //}else{
       // window.location.href="__MODULE__/Admin/login";
      //}
    })

  $(".bad").on('click',function(){
        //if($("#ids").val()!=''){
        var Oa=$(this);
        var id=Oa.attr('data');//获取id属性
        var vl=Oa.find("span").text();
            vl=parseInt(vl)+1;
        $.post('__CONTROLLER__/nozans_hits',{data:id},function(data){
          if(data.status==1){ 
                alert('感谢您的选择！');
                Oa.find("span").text(vl);//页面元素加1
            }else{
                alert('失败');
            }
        },'json'
            //alert(data);
       ); 
      //}else{
      //  window.location.href="__MODULE__/Admin/login";
      //}
    })
</script>

<script>
 $(function() {
   var urlstr = location.href;
   var urlstatus=false;
   $('#nav li').each(function(){
    if ((urlstr).indexOf($(this).attr('rel')) > -1&&$(this).attr('rel')!='') {
      $(this).addClass('am-active'); 
      urlstatus = true;
    } 
    else {
      $(this).removeClass('am-active');
    }
    });
    //保持状态
    if (!urlstatus) {
      $("#nav li").eq(0).addClass('am-active'); 
    }
  });
 </script>