#list{
    width:100%;
    background-color:#F2F2F2;
    border:1px solid #EEEEE0;
    margin-top:10px;
  }
  #list_img img{
    width:100%;
    margin:10px -2px;
  }
  .am-u-sm-7{
    padding-left:0px;
  }
  .am-u-sm-7 h4{
    padding-top:10px;
  }
  #list-title{
    padding:10px 0px 0px 2px;
  }
  #list-icon{
    padding:20px 0px 5px 0px;
  }
  #list-content{
    padding:0px 0px 5px 2px;
  }
  .icon i{
    color:yellow;
  }
  .am-u-sm-9 p{
    margin-top:-10px;
    font-size:14px;
  }
  .am-u-sm-3{
     padding-left:5px;
  }
