/*搜索页 shop_search.html*/

  #nav ul{
      height: 100%;
      background:#00bcd4;
  }
  #nav a{
      color: white;
      height: 100%;
  }
  #nav h2{
      color:white;
      margin-top:8%;
      margin-left:35%;
  }

  .form{
    width:100%;
    height:50px;
    background-color:#63B8FF;
  }
  .form form{
    background-color:#63B8FF;
    padding-top:10px;
    padding-left:7px;
    padding-right:7px;
  }
  .am-form-group input{
    background-color:#3BB4F2;
    color:white;
  }
  .am-form-group i{
    color:#00bcd4;
  }
  .badge{
    background-color:#F4F4F4;
    width:100%;
    height:120px;
  }
  .badge p{
    padding-top:10px;
    padding-left:10px;
    color:#969696;
    font-size:15px;
    font-weight:bold;
  }
  .badge_content{
    margin-top:-10px;
    margin-left:10px;
  }
  .badge i{
    color:red;
  }
  h3{
      color:white;
      text-align:center;
      padding-top:2%;
    }
  .am-to