<layout name="superLayout"/>
    <!--/sidebar--> 
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font">&#xe06b;</i><span>欢迎进入碎评超级管理后台</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <h1>快捷操作</h1>
            </div>
            <div class="result-content">
                <div class="short-wrap">
                    <a href="allComments.html"><i class="icon-font">&#xe001;</i>所有评论</a>
                    <a href="allCategorys.html"><i class="icon-font">&#xe048;</i>查看用户</a>
                    <a href="allNewses.html"><i class="icon-font">&#xe001;</i>用户动态</a>
                    <a href="allMeetings.html"><i class="icon-font">&#xe048;</i>管理积分</a>
                </div>
            </div> 
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <h1>用户状况</h1>
            </div>
            <div class="result-content">
                <ul class="sys-info-list">
                    <li>
                        <label class="res-lab">用户总数</label><span class="res-info">3089</span>
                    </li>
                    <li>
                        <label class="res-lab">买家总数</label><span class="res-info">2388</span>
                    </li>
                    <li>
                        <label class="res-lab">卖家总数</label><span class="res-info">701</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <h1>系统基本信息</h1>
            </div>
            <div class="result-content">
                <ul class="sys-info-list">
                    <li>
                        <label class="res-lab">操作系统</label><span class="res-info">WINNT</span>
                    </li>
                    <li>
                        <label class="res-lab">运行环境</label><span class="res-info">Apache/2.2.21 (Win64) PHP/5.3.10</span>
                    </li>
                    <li>
                        <label class="res-lab">上传附件限制</label><span class="res-info">2M</span>
                    </li>
                    <li>
                        <label class="res-lab">北京时间</label><span class="res-info">2014年3月18日 21:08:24</span>
                    </li>
                    <li>
                        <label class="res-lab">服务器域名/IP</label><span class="res-info">localhost [ 127.0.0.1 ]</span>
                    </li>
                    <li>
                        <label class="res-lab">Host</label><span class="res-info">127.0.0.1</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<!--/main-->