
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">动态管理</span><span class="crumb-step">&gt;</span><span>动态评论</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="/jscss/admin/design/index" method="post">
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <table class="search-tab">
                    <tr>
                        <th width="70">关键字:</th>
                        <td><input class="common-text" placeholder="关键字" name="keywords" value="" id="" type="text"></td>
                        <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                    </tr>
                </table>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>用户名</th>
                            <th width="35%">动态</th>
                            <th width="30%">评论</th>
                            <th>好评数</th>
                            <th>差评数</th>
                            <th width="15%">发布时间</th>
                            <th>操作</th>

                        </tr>
                        <volist name="news_comment" id="nc">
                            <tr>
                                <td>{$nc.busername}</td>
                                <td>{$nc.title}</td>
                                <td>{$nc.user_content}</td>
                                <td>{$nc.good_num}</td>
                                <td>{$nc.bad_num}</td>
                                <td>{$nc.user_time}</td>
                                <td><a class="link-reply" href="comment_view/id/{$nc.rfcid}">查看</a></td>
                            </tr>
                        </volist>
                        </table>
                    <div class="list-page">
                        <ul class="pagination" style="text-align:center">
                            <li>{$pages}</li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
