<!DOCTYPE html>
<html lang="en">
<head>
	<title>健身房</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/amazeui.css"/>
    <link rel="stylesheet" href="css/yl_sportsstore.css"/>

    <script src="js/jquery.min.js"></script>
    <script src="js/amazeui.min.js"></script>
</head>
<body>
	<header class="am-topbar">
		<div class="am-g" >	
			<h1 class="am-topbar-brand">
				<a href="yl_games.html" class="am-btn am-btn-lg" id="a1">
					<i class="am-icon-chevron-left" id="a_i" ></i>
				</a>
			</h1>
		</div>	
	</header>
	<article class="am-comment" id="my-scrollspy">
			<div class="am-comment-bd">
			<div class="am-g">
				<div class="am-u-sm-2">
					<a href="#">
						<img src="images/sportsstore_01.jpg" alt="头像" height="60px" width="60px" class="am-circle" />
					</a>
				</div>
				<div class="am-u-sm-10">
					<div class="am-comment-meta">
						<div class="am-g" id=
						"meta">
							<div class="am-u-sm-6">
								<a href="#link-to-user" class="am-comment-author">超越健身</a>
							</div>						
								
						
						</div>
						<div class="am-g">
							<p id="p1">地址：丽水清苑小区</p>
						</div>
					</div> 
					 

				</div>
			</div>
			</div>
		</article>
     	<article class="am-article">
            <div class="am-article-bd">
              <p class="am-article-lead" id="p2">
             	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;超越健身中心是一家会员制专业健身连锁。云集业界一流的健身教练，国际化的健身理念，以及齐全的健身项目。提供至宽敞及属于己的运动空间以及最先进的健身器材、桑拿室和大型操房等，加上紧贴潮流的操 课，不断提供创新活动，时刻保持新鲜感！<br/>
             	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;器械：国际顶级健身器械，仅有氧系列包括：跑步机，椭圆机，功率自行车，划船机，等多个运动器械并且自由力量器械，有轨器械完备<br/>操课：引进莱美操课体系，开设瑜伽，肚皮舞，印巴热舞，FOC中国风，民族舞，踏板，普拉提，搏击，拉丁，踢踏舞，形体芭蕾，有氧舞蹈，健身球操，动感单车，动感椭圆仪等30余种等最新时尚操课。
              </p>
            </div>
        </article>
        <div class="am-topbar am-topbar-fixed-bottom">
			<a href="#" class="am-btn am-btn-lg am-btn-block"><i class="am-icon-plus"></i>&nbsp;&nbsp;去娱乐</a>
		</div>


</body>
</html>