<layout name="layout"/>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/Index/index.html">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="javascript:void(0)">商品管理</a><span class="crumb-step">&gt;</span><span>修改商品</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>商品名称：</th>
                                <td>
                                    <input class="common-text required" id="pname" name="pname" value="{$productstab.pname}"size="50"type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>商品分类：</th>
                                <td>
                                    
                                    <select name="pcid" id="pcid">
                                        <volist name="product_category" id="pc">
                                            
                                            <eq name="pc.pcid" value="$productstab.pcid">
                                                <option value="{$pc.pcid}" selected>{$pc.pcname}</option>
                                            <else/>
                                                <option value="{$pc.pcid}">{$pc.pcname}</option>
                                            </eq>
                                        </volist>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>商品缩略图：</th>
                                <td>
                                    <img src="__PUBLIC__/upload/{$productstab['pimage']}" height="100px" width="150px" />
                                    <br/>
                                    <input name="pimage" id="pimage" type="file" value="{$productstab.pimage}"></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>商品高清图：</th>
                                <td>
                                    <img src="__PUBLIC__/upload/{$productstab['images']}" height="300px" width="500px" />
                                    <br/>
                                    <input name="images" id="images" type="file" value="{$productstab.images}"></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>商品价格:</th><td><input name="price" type="number" id="price" value="{$productstab.price}" style="width:80px">元</td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>商品数量:</th><td><input name="pnum" type="number" id="pnum" value="{$productstab.pnum}"style="width:80px">个</td>
                            </tr>
                            <tr><th><i class="require-red">*</i>商品简介：</th>
                                <td>
                                    <input class="common-text required" id="pintroduce" name="pintroduce" size="50" type="text" value="{$productstab.pintroduce}">
                                </td></tr>
                            <tr>
                                <th><i class="require-red">*</i>商品介绍：</th>
                                <td><textarea name="introduce" class="common-textarea" id="introduce"cols="30" style="width: 98%;" rows="10">{$productstab.introduce}</textarea></td>
                            </tr>
                            <tr>
                                <input type="hidden" name="pid" value="{$productstab.pid}">
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit" multiple>
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
