<style type="text/css">
    #light{
        display: none;
        position: absolute;
        top:25%; left: 35%;
        width: 20%;
        height:20%;
        background-color: white;
        border: 4px solid #00bcd4;
        z-index: 1002;
        overflow: auto;
    }
    #light tr
    {
        height: 40px;
    }
    #light button
    {
        margin-right: 15px;
    }
    .main-wrap
    {
        z-index:1001;
    }
    #light2{
        display: none;
        position: absolute;
        top:25%; left: 35%;
        width: 20%;
        height:20%;
        background-color: white;
        border: 4px solid #00bcd4;
        z-index: 1002;
        overflow: auto;
    }
    #light2 tr
    {
        height: 40px;
    }
    #light2 button
    {
        margin-right: 15px;
    }
    #btn{
        margin-left: 2%;
    }
</style>

    <!--/sidebar-->
<layout name="layout"/>
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/Index/index.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">商品管理</span><span class="crumb-step">&gt;</span><span>所有商品</span></div>
        </div>
        
        <div class="result-wrap">
            <form name="myform" id="myform" method="post" action="{:U('Admin/Category/destoryBatch')}">
                <div class="result-title">
                    <div class="result-list">
                        <a href="javascript:void(0)" id="add" onclick=""><i class="icon-font"></i>新增分类</a>
                        <a id="batchDel" href="javascript:void(0)" onclick="document.myform.submit();"><i class="icon-font"></i>批量删除</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc"><input class="SelectAll" id="SelectAll" name="" type="checkbox"></th>
                            <th>类名</th>
                            <th>操作</th>
                        </tr>
                            <volist name="category" id="c">
                                <tr>
                                    <td class="tc"><input type="checkbox" name="id[]"id="id[]" value="{$c.pcid}"></td>
                                    <td>{$c.pcname}</td>
                                    <input type="hidden" name="pcname" value="{$c.pcname}">
                                    <td><a href="javascript:void(0)" class="clickme" id="{$c.pcid}">修改</a>&nbsp;&nbsp;<a href="{:U('Admin/Category/delete')}/id/{$c.pcid}">删除</a></td>
                                </tr>
                            </volist>
                    </table>

                    <div class="input-group pull-left form" style="margin-top:2%">
                        <a href="javascript:void(0)" id="batchDel2" class="btn btn-danger"> 删 除</a>
                    </div>
                    <div class="list-page">
                        <ul class="pagination" style="text-align:center">
                            <li>{$pages}</li>
                        </ul>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
    <div id="light">
                <form action="{:U('Admin/Category/category_edit')}" method="post" name="form" id="form">
                    <table width="100%;">
                        <tr height="40px" width="100%">
                            <th style="background-color:#00bcd4;color:white;">修改类名</th>
                        </tr>
                        <tr>
                            <td>
                            类名：<input type="text" name="pcname" value="">
                            </td>
                            <input type="hidden" name="pcid" id="edit_pcid">
                        </tr>
                        <tr>
                            <td>
                                <button id="btn" type="submit" class="btn btn-success" onClick="document.getElementById('light').style.display='none';"> 提交</button>
                                <input class="btn btn4" onclick="document.getElementById('light').style.display='none';" value="返回" type="button">
                            </td>
                            
                        </tr>
                    </table>
                            
                </form>
    </div>
    <div id="light2">
        <form action="{:U('Admin/Category/category_add')}" method="post" name="form2" id="form">
            <table width="100%;">
                <tr height="40px" width="100%">
                    <th style="background-color:#00bcd4;color:white;">添加分类</th>
                </tr>
                <tr>
                    <td>
                    类名：<input type="text" name="pcname" value="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="btn" type="submit" class="btn btn-success" onClick="document.getElementById('light').style.display='none';"> 提交</button>
                        <input class="btn btn4" onclick="document.getElementById('light2').style.display='none';" value="返回" type="button">
                    </td>
                    
                </tr>
            </table>
                    
        </form>
    </div>
    <!--/main-->   
<script type="text/javascript">
//添加分类
    $("#add").click(function(){
        document.getElementById('light2').style.display='block';
    })
//删除分类
$(".clickme").click(function(){
    document.getElementById('light').style.display='block';
    var data=$(this);
    var pcid=data.attr("id");
    $("#edit_pcid").val(pcid);
    
});
// 全选
$("#SelectAll").click(function()
{
    if($(this).is(':checked'))
    {
        $(':checkbox').attr('checked','checked');
    }else
    {
        $(':checkbox').removeAttr('checked');
    }
});
$("#batchDel").click(function(){
    var r=confirm("确认删除?");
    if(r==true)
    {
        document.myform.submit();
    }
    else
    {
        window.location.reload(); 
    }
});
$("#batchDel2").click(function(){
    var r=confirm("确认删除?");
    if(r==true)
    {
        document.myform.submit();
    }
    else
    {
        window.location.reload(); 
    }
});
</script>
