<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>碎评后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/end/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/end/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/end/js/libs/modernizr.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/end/js/libs/jquery.min.js"></script>
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="index.html" class="navbar-brand"></h1>
            <ul class="navbar-list clearfix">
                <li><a class="on" href="__MODULE__/Index/index.html">首页</a></li>
                <li><a href="#" target="_blank">网站首页</a></li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                
                <li><a href="{:U('Admin/Admin/password_edit')}">修改密码</a></li>
                <li><a href="{:U('Admin/Admin/logout')}">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>{$_SESSION['shopname']}</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li><a href="__MODULE__/Shop/shop_news.html"><i class="icon-font">&#xe003;</i>店铺信息</a></li>
                <li>
                    <a href="javascript:void(0)"><i class="icon-font">&#xe018;</i>商品管理</a>
                    <ul class="sub-menu">
                        <li><a href="__MODULE__/Goods/allGoods/p/1"><i class="icon-font">&#xe008;</i>所有商品</a></li>
                        <li><a href="__MODULE__/Goods/addGoods.html"><i class="icon-font">&#xe005;</i>添加商品</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)"><i class="icon-font">&#xe018;</i>分类管理</a>
                    <ul class="sub-menu">
                        <li><a href="__MODULE__/Category/allCategory/p/1"><i class="icon-font">&#xe008;</i>所有分类</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)"><i class="icon-font">&#xe018;</i>评论管理</a>
                    <ul class="sub-menu">
                        <li><a href="__MODULE__/Comment/shopComment/p/1"><i class="icon-font">&#xe008;</i>店铺评论</a></li>
                        <li><a href="__MODULE__/Comment/goodsComment/p/1"><i class="icon-font">&#xe008;</i>商品评论</a>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)"><i class="icon-font">&#xe018;</i>动态管理</a>
                    <ul class="sub-menu">
                        <li><a href="__MODULE__/Recommend/allRecommend/p/1"><i class="icon-font">&#xe008;</i>所有动态<li><a href="__MODULE__/Recommend/addRecommend.html"><i class="icon-font">&#xe005;</i>添加动态</a></li>
                        <li><a href="__MODULE__/Recommend/recomment_comment/p/1"><i class="icon-font">&#xe005;</i>动态评论</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)"><i class="icon-font">&#xe018;</i>心愿单管理</a>
                    <ul class="sub-menu">
                        <li><a href="__MODULE__/Wish/allWish/p/1"><i class="icon-font">&#xe008;</i>所有心愿<li><a href="__MODULE__/Wish/adoptWish/p/1"><i class="icon-font">&#xe005;</i>采纳心愿</a></li>
                        <li><a href="__MODULE__/Wish/Wish_comment/p/1"><i class="icon-font">&#xe005;</i>心愿单评论</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)"><i class="icon-font">&#xe018;</i>优惠券管理</a>
                    <ul class="sub-menu">
                        <li><a href="__MODULE__/Coupon/allCoupon/p/1"><i class="icon-font">&#xe008;</i>所有优惠券<li><a href="__MODULE__/Coupon/adoptCoupon/p/1"><i class="icon-font">&#xe005;</i>已领取优惠券</a></li><li><a href="__MODULE__/Coupon/addCoupon.html"><i class="icon-font">&#xe005;</i>添加优惠券</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--/sidebar-->
    {__CONTENT__}
    <!--/main-->
</div>
</body>
</html>