/*活动*/
.active{
	height:100%;
	padding-left: 1px;
}
#active1 img{
			width:111%;
			height:120%;
		}
#active1{
			height:100%;
			padding-left:1px;
			border-right:1px solid #E0E0E0;
		}
#active2{

			border-right:1px solid #E0E0E0;
		}
.acimg1{
			width:100%;
			border-bottom:1px solid #E0E0E0;
		}
		.acimg2{
			width:100%;
		}
		#active2 img{
			width:110%;
		}
		#active3{
			padding-left:0;
		}
		#active4{
			height:100%;
		}
/*列表*/
ul a{
	color:black;
	padding-top:0;
}
.am-list{
	margin-top:0%;
}
.img1{
	width:auto;
	height:auto;
	max-width:100%;
	max-height:100%;
	padding-top:3%;
	padding-bottom:12%;

}
.padding{
	padding-left:0;
	padding-right:0;
}
p{
	color: #7B7B7B;
	font-size:14px;
}
.margin{
	margin-top:15px;
	text-align:center;
}
.textalign{
	text-align:left;
}
.color{
	color:white;
}
.margin1{
	margin-top:10px
}
.margin2{
	margin-top:10px
}
.margin3{
	margin-top:10px
}
.margin1 div{
	text-align:center;
}
.mar2padd{
	padding-left:0;
	padding-right:0;
}
/*login页面和regitered的css*/
.logpadding{
	padding-right:0;
	padding-top:5px;
}
.logpadding1{
	padding-left:0;
}
#i{
	color:blue;
}
.logpadding3{
	padding-left:25px;
}
.logtext{
	text-align:center;
}
.logback{
	background: #00bcd4;
}
.intro1{
	margin-bottom: 0px;
}
.intro2{
	margin-top: 0px;
}
#badge{
	margin-left:23px;
	margin-top:5px;
	margin-bottom:13px;
}
