<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>店铺评论</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="#">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="#">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>

    <link rel="stylesheet" href="__PUBLIC__/home/css/amazeui.css"/>
    <link rel="stylesheet" href="__PUBLIC__/home/css/app.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/bottom.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/find.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/shop_comment.css">
</head>
<body>
<!--商品展示图-->
<volist name="productstab" id="p">
<img src="__PUBLIC__/home/images/{$p[images]}" class="am-img-responsive" alt="" width="100%"/>
</volist>
<!--商品销量评价-->
<div>
    <span class="back" >
        <a onclick="history.go(-1)" class="am-icon-chevron-left am-icon-fw" id="href" ></a>
    </span>
</div>
    
<div class="am-g" id="center">
    <div class="am-u-sm-8">
       <volist name="productstab" id="p">
        <h3 class="am-serif">{$p[pname]}</h3>
       </volist>
        <p class="am-serif"><small>月销：{$p[pnum]}&nbsp&nbsp&nbsp最低价：{$p[price]}</small></p>
        <p class="am-serif"></p>
        <p class="am-serif"><small>评价：{$p[introduce]}</small></p>
    </div>
    <div class="am-u-sm-4" id="double_div">
        <div  id="double">
        <!-- 收藏的地址不对 -->
        <a href="<!-- {:U('Home/Delicious/submit')} -->" id="btn1" class="am-btn am-btn-sm"><i class="am-icon-heart"></i>&nbsp收藏</a>
        <a href="{:U('Home/Delicious/choose')}" id="btn2"class="am-btn am-btn-sm"><i class="am-icon-comments-o"></i>&nbsp下单</a>
        </div>
    </div>
</div>
<!--评价标签-->
<div class="am-g">
    <div class="badge">
        <span class="am-badge am-badge-primary am-round">肉质鲜美55</span>
        <span class="am-badge am-badge-primary am-round">配菜多42</span>
        <span class="am-badge am-badge-primary am-round">份量足56</span>
        <span class="am-badge am-badge-secondary am-round">口味正宗36</span>
        <span class="am-badge am-badge-secondary am-round">口感偏辣5</span>
        <span class="am-badge am-badge-danger am-round">精致25</span>
        <span class="am-badge am-badge-danger am-round">送餐快66</span>
    </div>
</div>
<!--进度条-->
<div class="am-g" id="progress">
    <div class="am-u-sm-3">分量足</div>
    <div class="am-u-sm-9">
        <div class="am-progress">
            <div class="am-progress-bar" id="bar1" style="width: 35%;">35%</div>
            <div class="am-progress-bar" id="bar2" style="width: 65%;">65%</div>
        </div>
    </div>
</div>
<div class="am-g" id="progress">
    <div class="am-u-sm-3">偏辣</div>
    <div class="am-u-sm-9">
        <div class="am-progress">
            <div class="am-progress-bar" id="bar3" style="width: 80%;">80%</div>
            <div class="am-progress-bar" id="bar4" style="width: 20%;">20%</div>
        </div>
    </div>
</div><br/>
<!-- 评论框 -->
<nav class="scrollspy-nav" data-am-scrollspynav="{offsetTop: 45}" data-am-sticky id="f_con_nav">
        <div id="input">
        <!-- 能把产品的pid传进去了 -->
        <form action="{:U('Home/Delicious/submit')}/id/{$p[pid]}" method="post" id="myform" name="myform" enctype="multipart/form-data">
        <input name="id" value="{$p.[pid]}" type="hidden">
          <div class="am-g">
             <div class="am-u-sm-9">
                 <input type="text" name="comment" class="am-form-field am-round" value="" placeholder="请输入...">
             </div>
             <div class="am-u-sm-3">
                 <button class="am-btn am-round am-btn-default" type="submit">发表</button>
             </div>
           </div>
           </form>
        </div>
        </nav>
<!--评论-->


<ul class="am-comments-list am-comments-list-flip">
    <!--1-->
    <volist name="reasult" id="r">
    <li class="am-comment am-comment-highlight">
        <a href="#">
            <img src="__PUBLIC__/home/images/{$r.bimage}" alt="" class="am-comment-avatar" width="48" height="48"/>
        </a>
        <div class="am-comment-main">
            <header class="am-comment-hd">
                <!--<h3 class="am-comment-title">评论标题</h3>-->
                <div class="am-comment-meta">
                    <a href="#link-to-user" class="am-comment-author">{$r.busername}</a>
                    评论于 <time datetime="2016-11-21T04:54:29-07:00" title="2016年11月21日 下午4:47 格林尼治标准时间+0800">{$r.pcomment_time}</time>
                </div>
            </header>
            <div class="am-comment-bd">
                <p class="am-serif">{$r.pcomment_content}</p>
            </div>
            <footer class="am-comment-footer">
               <div class="am-comment-actions">
                   <a class="am-btn am-round clickme" id="{$r.cid}" href="javascript:void(0);">
                   <i class="am-icon-thumbs-up">
                   <span class="am-badge am-round">{$r.good_num}</span>
                   </i></a>
                   <a class="am-btn am-round clickme" id="{$r.cid}" href="javascript:void(0);"><i class="am-icon-thumbs-down"><span class="am-badge am-round">{$r.bad_num}</span></i></a>
                   <a href="{:U('Home/Find/find_index')}" class="am-btn am-round"><i class="am-icon-share"></i></a>
               </div>
           </footer>
        </div>
    </li>
    </volist>
</ul>
<!--底部导航条-->
<div class="am-topbar am-topbar-fixed-bottom" id="nav">
        <ul class="am-nav am-nav-pills am-nav-justify">
          <li><a href="{:U('Home/Delicious/snacks')}"><i class="am-icon am-icon-paw am-icon-md"></i><br>小吃</a></li>
          <li><a href="{:U('Home/Delicious/drink')}"><i class="am-icon am-icon-beer am-icon-md"></i><br>饮品</a></li>
          <li><a href="{:U('Home/Delicious/dessert')}"><i class="am-icon am-icon-bell-o am-icon-md"></i><br>甜品</a></li>
          <li><a href="{:U('Home/Delicious/fastfood')}"><i class="am-icon am-icon-anchor am-icon-md"></i><br>快餐</a></li>
        </ul>
    </div>
<script src="__PUBLIC__/home/js/jquery.min.js"></script>
<script src="__PUBLIC__/home/js/amazeui.min.js"></script>
<script type="text/javascript">
    $(".clickme").on('click',function(){

        var Oa=$(this);
        var id=Oa.attr('id');//获取id属性
        var vl=Oa.find("span").text();//能获取到点赞的数量
            vl=parseInt(vl)+1;//实现了点赞加1
        $.post('__CONTROLLER__/set_hits',{id:id},function(data){
            alert("1");
            if(data.status==1){ 
                alert('感谢您的选择！');
                Oa.find("span").text(vl);//页面元素加1
            }else{
                
            }
        },'json'); 
    })
</script>
</body>
</html>