<!DOCTYPE html>
<html lang="en">
<head>
	<title>我的优惠劵</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/home/css/amazeui.css"/>
    <link rel="stylesheet" href="__PUBLIC__/home/css/fx.css"/>
    <link rel="stylesheet" href="__PUBLIC__/home/css/nav.css"/>
    <link rel="stylesheet" href="__PUBLIC__/home/css/bottom.css"/>
    <script src="__PUBLIC__/home/js/jquery.min.js"></script>
    <script src="__PUBLIC__/home/js/amazeui.min.js"></script>
</head>
<body id="mYHQ">
	<header class="am-topbar am-topbar-fixed-top">
    <div class="am-g">
      <div class="am-u-sm-2" id="sm2">
        <a href="me.html" class="am-btn am-btn-lg">
          <i class="am-icon-chevron-left"></i>
        </a>
      </div>
      <div class="am-u-sm-8" id="sm8">
        <h3>
          我的优惠券
        </h3>
      </div>
      <div class="am-u-sm-2" id="sm2">
      </div>
    </div>
  </header>
	<div class="am-panel">
		<div class="am-panel-bd">
			<div class="am-g">
					<div class="am-u-sm-3">
						<div class="am-thumbnail">
						<img src="__PUBLIC__/home/images/head_1.jpg"/></div>
					</div>
					<div class="am-u-sm-6">
						<h3 id="h3">超越健身</h3>
						<small>使用期限 2016.11.1-2016.12.1</small>
					</div>
					<div class="am-u-sm-3">
						<button class="am-btn am-btn-block">
							<div class="am-g">
								<h1>￥15</h1>
							</div>
							<div class="am-g">
								<small>满100使用</small>
							</div>
						</button>
					</div>
				</div>
			</div>
	</div>
	<div class="am-panel">
		<div class="am-panel-bd">
			<div class="am-g">
					<div class="am-u-sm-3">
						<div class="am-thumbnail">
							<img src="__PUBLIC__/home/images/head_1.jpg"/>
						</div>
					</div>
					<div class="am-u-sm-6">
						<h3 id="h3">超越健身</h3>
						<small>使用期限 2016.11.1-2016.12.1</small>
					</div>
					<div class="am-u-sm-3">
						<button class="am-btn am-btn-block">
							<div class="am-g">
								<h1>￥15</h1>
							</div>
							<div class="am-g">
								<small>满100使用</small>
							</div>
						</button>
					</div>
				</div>
			</div>
	</div>
	<div class="am-panel">
		<div class="am-panel-bd">
			<div class="am-g">
					<div class="am-u-sm-3">
						<div class="am-thumbnail">
						<img src="__PUBLIC__/home/images/head_1.jpg"/></div>
					</div>
					<div class="am-u-sm-6">
						<h3 id="h3">超越健身</h3>
						<small>使用期限 2016.11.1-2016.12.1</small>
					</div>
					<div class="am-u-sm-3">
						<button class="am-btn am-btn-block">
							<div class="am-g">
								<h1>￥15</h1>
							</div>
							<div class="am-g">
								<small>满100使用</small>
							</div>
						</button>
					</div>
				</div>
			</div>
	</div>
	<div class="am-panel">
		<div class="am-panel-bd">
			<div class="am-g">
					<div class="am-u-sm-3">
						<div class="am-thumbnail">
						<img src="__PUBLIC__/home/images/head_1.jpg"/></div>
					</div>
					<div class="am-u-sm-6">
						<h3 id="h3">超越健身</h3>
						<small>使用期限 2016.11.1-2016.12.1</small>
					</div>
					<div class="am-u-sm-3">
						<button class="am-btn am-btn-block">
							<div class="am-g">
								<h1>￥15</h1>
							</div>
							<div class="am-g">
								<small>满100使用</small>
							</div>
						</button>
					</div>
				</div>
			</div>
	</div>
</body>
</html>