<layout name="layout"/>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/Index/index.html">首页</a><span class="crumb-step">&gt;</span><span>修改密码</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>店铺名：</th>
                                <td>
                                    {$sellertab.shopname}
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>密码:</th><td><input class="common-text required" type="password" name="spassword" id="password" size="40" class="admin_input_style"/></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>确认密码:</th><td><input class="common-text required" type="password" name="repassword" id="password" size="40" class="admin_input_style" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="hidden" name="sid" value="{$sellertab.sid}">
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit" multiple>
                                    
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
