<layout name="layout_delicious" />
<title>fastfood</title>
	<!-- 轮播图 -->
    <div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
	  <ul class="am-slides">
	    <li><img src="__PUBLIC__/home/images/fastfood1.jpg" /></li>
	    <li><img src="__PUBLIC__/home/images/fastfood2.jpg" /></li>
	    <li><img src="__PUBLIC__/home/images/fastfood3.jpg" /></li>
	    <li><img src="__PUBLIC__/home/images/fastfood4.jpg" /></li>
	  </ul>
	</div>
	<!-- 活动 -->
<div class="am-g">
		<div class="am-u-sm-6 active">
			<img src="__PUBLIC__/home/images/fastfood_1.jpg" class="acimg">
		</div>
		<div class="am-u-sm-6 acheight">
			<div class="am-g" style="margin-left:1%">
				<div class="am-u-sm-6 acpadd">
					<img src="__PUBLIC__/home/images/fastfood_2.jpg" class="acimg1">
					<img src="__PUBLIC__/home/images/fastfood_3.jpg" class="acimg2">
				</div>
				<div class="am-u-sm-6 acpadd">
					<img src="__PUBLIC__/home/images/fastfood_4.jpg" class="acimg1">
					<img src="__PUBLIC__/home/images/fastfood_5.jpg" class="acimg2">
				</div>
			</div>
		</div>
	</div>

	<!-- 列表 -->
	<ul class="am-list">
	<a href="storelist.html">
	  <li>
          <div class="am-g">
              <div class="am-u-sm-4"><img src="__PUBLIC__/home/images/fastfood_6.jpg" class="img1">
              </div>
              <div class="am-u-sm-8">
                  <div class="am-g">
                      <div class="am-u-sm-8 padding">
                          <p>快餐小店</p>
                          <p>评分：3.5</p>
                      </div>
                      <div class="am-u-sm-4 margin">
                          <a class="am-icon-pencil-square am-icon-lg" style="color:#ff5151"  data-am-collapse="{parent: '#accordion', target: '#do-not-say-1'}"></a>
                      </div>
                  </div>
              </div>
          </div>
		<div id="do-not-say-1" class="am-panel-collapse am-collapse">
		  <div class="am-panel-bd">
		  	<div class="am-g textalign">
		  		<div class="am-u-sm-4">
		  		
		  			<span class="am-badge am-round am-badge-primary am-text-sm color">口碑好14</span>
		  			
		  		</div>
		  		<div class="am-u-sm-4">
		  			
		  			<span class="am-badge am-round am-badge-warning am-text-sm color">装饰好21</span>
		  			
		  		</div>
		  		<div class="am-u-sm-4">
		  			
		  			<span class="am-badge am-round am-badge-secondary am-text-sm color">环境美421</span>
		  		</div>

		  	</div>
		  	<div class="am-g margin1">
		  		<div class="am-u-sm-4">
		  			<span class="am-badge am-round am-badge-success am-text-sm color">飞毛腿4</span>
		  		</div>
		  		<div class="am-u-sm-4">
		  			<span class="am-badge am-round am-badge-danger am-text-sm color">优惠多123</span>
		  		</div>
		  		<div class="am-u-sm-4">
		  			<span class="am-badge am-round am-badge-primary am-text-sm color">配送快1</span>
		  		</div>
		  	</div>
		  	<div class="am-g margin2">
		  		<div class="am-u-sm-3 mar2padd">分量足</div>
		  		<div class="am-u-sm-9 mar2padd">
		  			<div class="am-progress" style="margin-bottom:0">
					  <div class="am-progress-bar" style="width: 40%">40%</div>
					  <div class="am-progress-bar am-progress-bar-success" style="width: 60%">60%</div>
					</div>
		  		</div>
		  	</div>
		  	<div class="am-g margin3">
		  		<div class="am-u-sm-3 mar2padd">好评量</div>
		  		<div class="am-u-sm-9 mar2padd">
		  			<div class="am-progress" style="margin-bottom:0">
					  <div class="am-progress-bar" style="width: 60%">60%</div>
					  <div class="am-progress-bar am-progress-bar-success" style="width: 40%">40%</div>
					</div>
		  		</div>
		  	</div>
			
		  </div>
	    </div>
       </li>
       </a>
       <a href="storelist.html">
       <li>
           <div class="am-g">
               <div class="am-u-sm-4"><img src="__PUBLIC__/home/images/fastfood_6.jpg" class="img1">
               </div>
               <div class="am-u-sm-8">
                   <div class="am-g">
                       <div class="am-u-sm-8 padding">
                           <p>快餐小店</p>
                           <p>评分：3.5</p>
                       </div>
                       <div class="am-u-sm-4 margin">
                           <a class="am-icon-pencil-square am-icon-lg" style="color:#ff5151"  data-am-collapse="{parent: '#accordion', target: '#do-not-say-2'}"></a>
                       </div>
                   </div>
               </div>
           </div>
           <div id="do-not-say-2" class="am-panel-collapse am-collapse">
		  <div class="am-panel-bd">
		  	<div class="am-g textalign">
		  		<div class="am-u-sm-4">
		  		
		  			<span class="am-badge am-round am-badge-warning am-text-sm color">口碑好14</span>
		  			
		  		</div>
		  		<div class="am-u-sm-4">
		  			
		  			<span class="am-badge am-round am-badge-primary am-text-sm color">装饰好21</span>
		  			
		  		</div>
		  		<div class="am-u-sm-4">
		  			
		  			<span class="am-badge am-round am-badge-danger am-text-sm color">环境美421</span>
		  		</div>

		  	</div>
		  	<div class="am-g margin1">
		  		<div class="am-u-sm-4">
		  			<span class="am-badge am-round am-badge-success am-text-sm color">飞毛腿4</span>
		  		</div>
		  		<div class="am-u-sm-4">
		  			<span class="am-badge am-round am-badge-danger am-text-sm color">优惠多123</span>
		  		</div>
		  		<div class="am-u-sm-4">
		  			<span class="am-badge am-round am-badge-primary am-text-sm color">配送快1</span>
		  		</div>
		  	</div>
		  	<div class="am-g margin2">
		  		<div class="am-u-sm-3 mar2padd">分量足</div>
		  		<div class="am-u-sm-9 mar2padd">
		  			<div class="am-progress" style="margin-bottom:0">
					  <div class="am-progress-bar" style="width: 40%">40%</div>
					  <div class="am-progress-bar am-progress-bar-success" style="width: 60%">60%</div>
					</div>
		  		</div>
		  	</div>
		  	<div class="am-g margin3">
		  		<div class="am-u-sm-3 mar2padd">好评量</div>
		  		<div class="am-u-sm-9 mar2padd">
		  			<div class="am-progress" style="margin-bottom:0">
					  <div class="am-progress-bar" style="width: 60%">60%</div>
					  <div class="am-progress-bar am-progress-bar-success" style="width: 40%">40%</div>
					</div>
		  		</div>
		  	</div>
			
		  </div>
	    </div>
       </li>
       </a>
	</ul>
